@charset:"UTF-8";

/*--------------------
	common
--------------------*/
html {
	overflow: auto;
}
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size:14px;
	line-height: 1.5em;
	overflow-x: hidden; 
	position: relative; 
	min-width: 1100px;
}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
.left { float: left; }
.right { float: right; }
.clear { clear:both; }
.center { text-align:center;}

img	 { 
	display:block;
	vertical-align:middle;
}

#wrapper {
	width:1100px;
	margin:0 auto;
}

/*--------------------
	header
--------------------*/
#header {
	width:1100px;
}

#header h1 {
	margin:0 15px 0 0;
	padding:10px 0 0 0;
	float:left;
}

#header nav {
	margin:0 0 0 0;
	padding:45px 0 0 0;
	width:401px;
	float:left;
}

#header nav ul {
	margin:0 0 5px 0;
}

#header nav li {
	float:left;
	
}

#header nav p {
	margin-bottom:3px;
}

#header .access {
	background: url("../images/common/bg_jimukyoku.png") no-repeat left top;
	width:362px;
	height:118px;
	float:left;
	margin:45px 0 0 15px;
}

#header .access p {
	margin:80px 0 0 247px;
}

.wrapper_index { background:#79a4e0;}

.wrapper_index #cloud_index {
	background: url("../images/index/bg_header_cloud.jpg") no-repeat top;
	margin:0 -500%;
	padding:0 500%;
	width:1250px;
}

.wrapper_all {
	background: url("../images/common/bg_header.jpg") repeat-x top;
}

.wrapper_all #cloud {
	background: url("../images/common/bg_header_cloud.jpg") no-repeat top;
	margin:0 -500%;
	padding:0 500%;
	width:1280px;
}

.wrapper_all #content {
	width:1000px;
	margin:0 0 0 50px;
	padding:25px 0 30px 0;
}

.wrapper_all #content>h2 {
	border-top:1px solid #fff;
	width:980px;
	padding:15px 10px 20px;
}

.wrapper_all #content>.page {
	background:#fff;
	min-height:500px;
}

/*--------------------
	content
--------------------*/
#content {
}

/*--------------------
	footer
--------------------*/
#footer {
	width:1100px;
}

#footer .copy {
	font-size:10px;
	text-align:center;
	color:#fff;
	background:#0063a3;
	margin:0 -500%;
	padding:10px 500%;
	width:100%;
}

