@charset:"UTF-8";

/* インデックスページ */
.page_index {
	height:790px;
	position:relative;
}

.page_index>h2 {
	position:absolute;
	top:50px;
	left:150px;
}

.page_index>p {
	position:absolute;
	top:80px;
	left:650px;
}

.page_index .information {
	position:relative;
	top:395px;
}

.page_index .information h2 {
	width:106px;
	position:relative;
	top:180px;
	left:435px;
	z-index:1;
}

.page_index .information ul {
	background: url("../images/index/bg_information.jpg") no-repeat top #bceafb;
	height:98px;
	margin:140px -525% 0;
	padding:6px 500% 0;
	width:100%;
}

.page_index .information li:first-child {
	border-top:none;
}

.page_index .information li {
	width:480px;
	margin:0 0 0 870px;
	border-top:1px solid #fff;
	padding:5px 10px;
}

.page_index .information li a {
	color:#494949;
	text-decoration:none;
}

.page_index .information .images {
	width:590px;
	position:absolute;
	top:2px;
	left:-35px;
}

.page_index .space {
	background:#fff;
	height:120px;
	margin:0 -500%;
	padding:0 500%;
	width:100%;
	position:relative;
	top:395px;
}

.page_index {

}



/* outline */

.page_outline {
	padding:60px 100px;
}

.page_outline table {
	width:800px;
}

.page_outline table tr:first-child th {
	border-top:dotted 1px #000;
}

.page_outline table th {
	width:165px;
	text-align:left;
	font-size:14px;
	line-height:21px;
	vertical-align:middle;
	padding:15px 10px;
	border-right:3px solid #fff;
	border-bottom:dotted 1px #000;
}

.page_outline table tr:first-child td {
	border-top:solid 1px #000;
}

.page_outline table td {
	width:560px;
	text-align:left;
	font-size:14px;
	line-height:21px;
	padding:15px 0px 15px 45px;
	border-bottom:solid 1px #000;
}

.page_outline table {
}




/* kukakuzu */
.page_kukakuzu {
	padding:35px 0;
}

.page_kukakuzu>p {
	font-size:12px;
	text-align:center;
	margin:25px 0 0 0;
}

.page_kukakuzu img {
	margin:0 auto;
	
}

.page_kukakuzu h3:first-child {
	margin:0 0 45px;
	
}

.page_kukakuzu h3 {
	margin:20px 0 25px ;
	
}

.page_kukakuzu ul {
	margin:0 0 50px 0;
	
}

.page_kukakuzu li:first-child {
	border-left:1px solid #000;
}

.page_kukakuzu li {
	width:141px;
	height:135px;
	text-align:center;
	float:left;
	padding:6px 0 0;
	border-right:1px solid #000;
	
}

.page_kukakuzu li h4 {
	font-size:12px;
	margin-bottom:4px;
}

.page_kukakuzu li p {
	line-height:16px;
	font-size:10px;
}

.page_kukakuzu li p.p_single {
	line-height:26px;
}

.page_kukakuzu li .p_single span {
	line-height:26px;
}

.page_kukakuzu li span {
	line-height:19px;
	font-size:14px;
	display:block;
	margin:5px 0;
}

.page_kukakuzu a {
	display:block;
	margin-bottom:5px;
	
}

.page_kukakuzu b {
	color:#F00;
}


/* shuhen */
.page_shuhen div.slider {
    width:100px;
    display:block;
    margin:40px auto;
}
 
.page_shuhen div.slider .bx-wrapper {
    margin:0 auto;/*メインスライダーとサムネイルの間の余白を変更*/
}
 
.page_shuhen ul.bxslider01 li {
    display:block;
}
 
.page_shuhen ul.bxslider01 li img{
    display:block;
    height:auto;
}

.page_shuhen .bxslider01 {
	width:800px !important;
	height:480px;
	margin:40px auto 85px;
}

.page_shuhen .bxslider01 h3 {
	width:800px;
	font-size:21px;
	font-weight:normal;
	margin-bottom:40px;
}

.page_shuhen .bxslider01 h3 span {
	font-size:14px;
	float:right;
}

.page_shuhen .controlWrap .bx-wrapper {
	width:946px !important;
	margin:0 auto;
		z-index:1;
}

.page_shuhen ul.bxslider02 li {
	margin:0px ;
	padding:0px ;
    width:156px ;/*サムネイルの横幅*/
    height:105px;/*サムネイルの縦幅*/
}
 
.page_shuhen ul.bxslider02 li a {
    display:block;
    width:156px;/*サムネイルの横幅*/
    height:105px;/*サムネイルの縦幅*/
}
 
.page_shuhen ul.bxslider02 li a img{
    display:block;
    width:156px;/*サムネイルの横幅*/
    height:auto;/*サムネイルの縦幅*/
}

.page_shuhen div.controlWrap {
	position:relative;
	width:1000px;
}

.page_shuhen div.controlWrap p#PrevIcon{
    width:26px;/*オリジナルの矢印アイコン画像の横幅を設定しましょう*/
    height:105px;/*オリジナルの矢印アイコン画像の縦幅を設定しましょう*/
		background:#315caa;
		padding:0 1px 0 2px;
		position:absolute;
		left:0;
		top:0;
		z-index:0;
}

.page_shuhen div.controlWrap p#PrevIcon a{
    display:block;
    width:26px;/*オリジナルの矢印アイコン画像の横幅を設定しましょう*/
    height:105px;/*オリジナルの矢印アイコン画像の縦幅を設定しましょう*/
    position:absolute;
    background:url(../images/shuhen/btn_prev.jpg) left center no-repeat !important;/*オリジナルの矢印アイコンを設定しています*/
    color:#fff;
    text-indent:-9999px;
		z-index:1;
}
 
.page_shuhen div.controlWrap p#NextIcon{
    width:26px;/*オリジナルの矢印アイコン画像の横幅を設定しましょう*/
    height:105px;/*オリジナルの矢印アイコン画像の縦幅を設定しましょう*/
		background:#315caa;
		padding:0 1px;
		position:absolute;
		right:0;
		top:0;
		z-index:0;
}

.page_shuhen div.controlWrap p#NextIcon a{
    display:block;
    width:26px;/*オリジナルの矢印アイコン画像の横幅を設定しましょう*/
    height:105px;/*オリジナルの矢印アイコン画像の縦幅を設定しましょう*/
    position:absolute;
    background:url(../images/shuhen/btn_next.jpg) left center no-repeat;/*オリジナルの矢印アイコンを設定しています*/
    color:#fff;
    text-indent:-9999px;
}
/*カスタマイズ用追記CSS End*/

.page_shuhen .bx-wrapper .bx-viewport {
    border: 0px !important;
    box-shadow: 0 0 0px !important;
    left: 0px !important;
    transform: translateZ(0px);
	}

.page_shuhen .txt_area {
	width:800px;
	margin:0 auto;
}

.page_shuhen .txt_area dl:first-child {
	margin-right:60px;
}

.page_shuhen .txt_area dl {
	width:370px;
	margin-bottom:50px;
}

.page_shuhen .txt_area dt {
	font-size:21px;
	color:#315caa;
	font-weight:bold;
	margin-bottom:30px;
}

.page_shuhen .txt_area dd table {
	width:100%;
}

.page_shuhen .txt_area dd th {
	width:170px;
	text-align:left;
	font-weight:normal;
	padding-bottom:15px;
}

.page_shuhen .txt_area dd td {
	text-align:right;
	padding-bottom:15px;
}



/* page_access */
.page_access {
	padding:40px 100px 0 100px;
}

.page_access h3 {
	text-align:center;
	margin-bottom:45px;
}

.page_access h3 img {
	display:inline;
}

.page_access dd {
	margin-bottom:80px;
}

.page_access dt {
	float:left;
}

.page_access dd {
	float:right;
}

.page_access {
}



/* page_contact */
.page_contact {
	padding:50px 100px 110px;
}

.page_contact table {
	width:800px;
	margin-bottom:70px;
}

.page_contact tr:first-child th {
	border-top:1px dotted #000;
}

.page_contact th {
	width:185px;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	border-bottom:1px dotted #000;
	vertical-align:middle;
	padding:15px 0 15px 10px;
}

.page_contact th span {
	color:#ff0000;
	font-weight:normal;
	margin-left:5px;
}

.page_contact td {
	width:555px;
	font-size:12px;
	vertical-align:middle;
	padding:10px 0 10px 75px;
}

.page_contact td .form_s {
	width:240px;
	height:25px;
}

.page_contact td .form_m {
	width:345px;
	height:25px;
}

.page_contact td .form_l {
	width:480px;
	height:25px;
}

.page_contact td .form_datail {
	width:480px;
	height:290px;
}

.page_contact .btn_area {
	position: relative;
	width:400px;
	height:100px;
	margin:0 auto;
}

.page_contact .btn_area input[type="submit"] {
	display:block;
	float:left;
	text-indent:-9999px;
	border:none;
	width:400px;
	height:100px;
	cursor:pointer;
   background:url(../images/contact/btn_submit.png) left center no-repeat;/*オリジナルの矢印アイコンを設定しています*/
	/display:inline;
	/zoom:1;
}

;;body .page_contact .btn_area input[type="submit"] {  
    padding-bottom: 50px;  
}







